@{
    ViewData["Title"] = "Zanc";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    This is the Zanc Orchard Management. Use the links above to create, update, read and delete the orchard data.
</div>
